- title "Showing points on the #{@channel.name} channel."

- @channel.acu_points.each do |p|
  .acu_point
    %h2!= link(p) + edit_link(p)
    %table
      %tr
        %td.fieldName Source
        - p.acu_point_infos.each do |info|
          %td!= link info.citation
      %tr
        %td.fieldName Functions
        - p.acu_point_infos.each do |info|
          %td
            %ul
              - info.acu_point_therapeutic_functions.each do |aptf|
                %li!= link aptf
      %tr
        %td.fieldName Symptoms
        - p.acu_point_infos.each do |info|
          %td!= link info.all_symptoms
      %tr
        %td.fieldName Location
        - p.acu_point_infos.each do |info|
          %td
            :tcmtextile
              #{info.location}
      %tr
        %td.fieldName Needling
        - p.acu_point_infos.each do |info|
          %td
            :tcmtextile
              #{info.needling}

    = show_box_for p, 'Show Point Prescriptions', 'Hide Point Prescriptions', :point_prescriptions
    = detail_box_for p, :point_prescriptions do
      = ajax_association_link("Load point prescriptions", p, :point_prescriptions)
      %div{:id=>p.element_id(:point_prescriptions)}

    = show_box_for p, 'Show Point Combinations', 'Hide Point Combinations', :point_combinations
    = detail_box_for p, :point_combinations do
      = ajax_association_link("Load point combinations", p, :point_combinations)
      %div{:id=>p.element_id(:point_combinations)}

