- title "Showing points on the #{@channel.name} channel."

- @acu_points.each do |p|
  - info = p.acu_point_infos.from_text("ellis")[0]
  - info = info ||= AcuPointInfo.new
  %h2= link p
  != edit_link p
  %br/
  - unless info.location.empty?
    :tcmtextile
      h3. Location

      #{info.location}

  - info.acu_point_therapeutic_functions.each do |t|
    = t.therapeutic_function_name
    %br/
  != link info.acu_point_symptoms
  %ul
    - p.point_prescriptions.limit(4).each do |pp|
      %li!= "#{link(pp.pattern)}: #{link pp.pp_acu_points.map_to(:acu_point).minus(p)"
  %br/
  %hr/
  %br/

%h1 By Tag:
%ul
  - @tag_acu_points.each do |tag, contents|
    %li
      %h3= tag.name
      - contents.each do |tf, acu_points|
        %ul
          - acu_points.each do |acu_point|
            %li!= "#{link(acu_point)} -- #{link(tf)}"

