- title @symptom.name

%p
  %br/
  %h3 Patterns
  %ul
    - @symptom.pattern_symptoms.each do |ps|
      %li!= link ps.pattern
      - if !ps.commentary.empty?
        %ul
          %li= ps.commentary
      - unless ps.pattern.formulas.empty?
        %ul
          - ps.pattern.formulas.each do |fp|
            %li= link fp

- unless @symptom.acu_point_therapeutic_functions.empty?
  #h3 Associated AcuPoint Therapeutic Functions
  %ul
    - @symptom.acu_point_therapeutic_functions.each do |actf|
      %li #{link actf.acu_point_info.acu_point} #{link actf.therapeutic_function}

%p
!= edit_link @symptom
|
!= destroy_link @symptom
|
!= index_link 'symptoms'

