- title "Symptoms"
%table
  %tr
    %th
      Name
  - for symptom in @symptoms
    %tr
      %td
        = h symptom.name
      %td
        = link_to "Show", symptom
      %td
        = link_to "Edit", edit_symptom_path(symptom)
      %td
        = link_to "Destroy", symptom, :confirm => 'Are you sure?', :method => :delete
%p
  = link_to "New Symptom", new_symptom_path
