t- title "Symptom"
%p
  %strong
    Name:
  = h @symptom.name

%p
  %br/
  %h3 Patterns
  %ul
    - @symptom.pattern_symptoms.each do |ps|
      %li!= link_to ps.pattern.name, ps.pattern
      - if !ps.commentary.empty?
        %ul
          %li= ps.commentary
      - unless ps.pattern.formulas.empty?
        %ul
          - ps.pattern.formulas.each do |fp|
            %li= link_to fp.pinyin, fp
- unless @symptom.acu_point_therapeutic_functions.empty?
  #h3 Associated AcuPoint Therapeutic Functions
  %ul
    - @symptom.acu_point_therapeutic_functions.each do |actf|
      %li #{link actf.acu_point_info.acu_point} #{link actf.therapeutic_function}

%p
  = link_to "Edit", edit_symptom_path(@symptom)
  |
  = link_to "Destroy", @symptom, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", symptoms_path

