- title "Symptom"
%p
  %strong
    Name:
  = h @symptom.name

%p
  %br/
  %h3 Patterns
  %ul
    - @symptom.pattern_symptoms.each do |ps|
      %li!= link_to ps.pattern.name, ps.pattern
      - if !ps.commentary.empty?
        %ul
          %li= ps.commentary
      - if ps.pattern.formula_patterns.size > 0
        %ul
          - ps.pattern.formula_patterns.each do |fp|
            %li= link_to fp.formula.pinyin, fp.formula

%p
  = link_to "Edit", edit_symptom_path(@symptom)
  |
  = link_to "Destroy", @symptom, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", symptoms_path

