%h1
  Listing textbooks
%table
  %tr
    %th
      Title
    %th
      Year
    %th
      Author
  - @textbooks.each do |textbook|
    %tr
      %td
        = link textbook
      %td
        = h textbook.year
      %td
        = h textbook.author_name
      %td
        != edit_link textbook
      %td
        != destroy_link textbook
%br
!= new_link Textbook

