%p
  %b
    Title:
  = h @textbook.title
%p
  %b
    Year:
  = h @textbook.year
%p
  %b
    Author:
  = h @textbook.author_name
= link_to 'Edit', edit_textbook_path(@textbook)
|
= link_to 'Back', textbooks_path
