%div[acu_point_info]
  %h2 Source: #{link acu_point_info.citation}
  = link_to('Edit', edit_acu_point_info_path(acu_point_info), :remote=>true) if current_action(:edit, :update, :create)
  = link_to 'Destroy', acu_point_info, :remote=>true, :method=>:delete, "data-confirm"=>"Are you sure?" if current_action(:edit, :update, :delete)
  - unless acu_point_info.english.empty?
    .showField English Translation: #{acu_point_info.english}
  - unless acu_point_info.location.empty?
    .showField
      %h2 Location
      :tcmtextile
        #{acu_point_info.location}
  - unless acu_point_info.needling.empty?
    .showField
      %h2 Needling Instructions
      :tcmtextile
        #{acu_point_info.needling}
  - unless acu_point_info.contraindications.empty?
    .showField
      .fieldName Contraindications
      :tcmtextile
        #{acu_point_info.contraindications}
  - unless acu_point_info.acu_point_symptoms.empty?
    %h2 Signs and Symptoms
    %ul
      %li= acu_point_info.acu_point_symptoms.collect{|a| a.symptom_name}.join(", ")
  - unless acu_point_info.acu_point_therapeutic_functions.empty?
    %h2 Therapeutic Functions
    %ul#acu_point_therapeutic_functions
      - acu_point_info.acu_point_therapeutic_functions.each do |actf|
        %li[actf]= render :partial=>'acu_point_therapeutic_functions/acu_point_therapeutic_function', :locals=>{:acu_point_therapeutic_function=>actf}
  - unless acu_point_info.commentary.empty?
    %h2 Commentary
    :tcmtextile
      #{acu_point_info.commentary}
  %hr/

