%div[acu_point_info]
  %h2 Source: #{link acu_point_info.citation}
  - if can? :edit, acu_point_info
    != link_to 'Edit', edit_acu_point_acu_point_info_path(acu_point_info.acu_point, acu_point_info), :remote=>true
  - if can? :destroy, acu_point_info
    != link_to 'Destroy', acu_point_acu_point_info_path(acu_point_info.acu_point, acu_point_info), :method=>:delete, :remote=>:true, "data-confirm"=>"Are you weely seu?"
  - unless acu_point_info.english.empty?
    .showField English Translation: #{acu_point_info.english}
  - unless acu_point_info.location.empty?
    .showField
      %h2 Location
      :tcmtextile
        #{acu_point_info.location}
  - unless acu_point_info.needling.empty?
    .showField
      %h2 Needling Instructions
      :tcmtextile
        #{acu_point_info.needling}
  - unless acu_point_info.contraindications.empty?
    .showField
      .fieldName Contraindications
      :tcmtextile
        #{acu_point_info.contraindications}
  - unless acu_point_info.acu_point_symptoms.empty?
    %h2 Signs and Symptoms
    %ul
      %li!= link acu_point_info.acu_point_symptoms
  - unless acu_point_info.acu_point_therapeutic_functions.empty?
    %h2 Therapeutic Functions
    %ul{:id=>"acu_point_info_#{acu_point_info.id}_therapeutic_functions"}
      - acu_point_info.acu_point_therapeutic_functions.each do |actf|
        %li[actf]= render :partial=>'acu_point_therapeutic_functions/acu_point_therapeutic_function', :locals=>{:acu_point_therapeutic_function=>actf}
  - unless acu_point_info.commentary.empty?
    %h2 Commentary
    :tcmtextile
      #{acu_point_info.commentary}
  %hr/

