= form_for @acu_point_info, :remote=>true do |f|
  = f.hidden_field :acu_point_id
  %h2 AcuPoint Info
  %br/
  = error_messages_for f.object
  %table
    %tr
      %td.fieldName Citation
      %td!= edit_citation f, :citation, ""
    %tr
      %td.fieldName English
      %td= f.text_field(:english, :autocomplete => "off")
    %tr
      %td.fieldName Location
      %td= f.text_area :location, :rows=>2, :cols=>50
    %tr
      %td.fieldName Needling
      %td= f.text_area :needling, :rows=>2, :cols=>50
    %tr
      %td.fieldName Contraindications
      %td= f.text_area :contraindications, :rows=>2, :cols=>50
    %tr
      %td.fieldName Symptoms
      %td!= text_area_with_auto_complete f, :acu_point_symptoms_text, "symptoms", :rows => 4, :cols => 50
    %tr
      %td.fieldName Commentary
      %td= f.text_area :commentary, :rows => '2', :cols => '40'
  = f.submit :disable_with=>"Saving..."
.fieldName Therapeutic Functions
%ul{:id=>"acu_point_info_#{@acu_point_info.id}_therapeutic_functions"}
  - @acu_point_info.acu_point_therapeutic_functions.each do |aptf|
    %li[aptf]= render :partial=>'acu_point_therapeutic_functions/acu_point_therapeutic_function', :locals=>{:acu_point_therapeutic_function=>aptf}
= link_to 'New Therapeutic Function', new_acu_point_therapeutic_function_path(:acu_point_info_id=>@acu_point_info.id), :remote=>true, :id=>'new_function_path'

