- form_for(@article) do |f|
  = f.error_messages

  .field
    = f.label :title
    %br
    = f.text_field :title, :autocomplete => "off  "
  .field
    = f.label :body
    %br
    = f.text_area :body, :rows => 30, :cols => 120

  .actions
    = f.submit
