%h1 Editing article

= form_for(@article, :remote => true) do |f|
  = error_messages_for @article

  .field
    = f.label :title
    %br
    = f.text_field :title, :autocomplete => "off  "
  .field
    %b Tags
    = tag_field(f, :tag_list)
  .field
    = f.label :body
    %br
    = f.text_area :body, :rows => 30, :cols => 120

  .actions
    = f.submit

#{ link_to 'Show', @article, :remote => true } | #{ link_to 'Back', articles_path, :remote => true }

