:tcmtextile
  #{@article.body}

%h3 Tags
%br/
!= tag_list @article.tags

.commentBox
  Posted on
  %i= @article.created_at
  by Tyler Gannon
  %a{'href' => 'index.html'} Comments (5)

#{raw edit_link @article} | #{raw index_link 'patterns', 'Back to Patterns'}

