- @formulas_by_category.each do |cat, formulas|
  %h2!= link(cat)
  %br/
  %table.formula{'border' => '1', 'cellpadding' => "0", "cellspacing" => "0"}
    - formulas.each do |formula|
      - klass = (formula.state_board ? 'sb_formula' : 'formula')
      %tr
        %td{:class => klass, :width => "100px"}
          != link(formula)
          %br/
          = formula.english
        %td{:width => "200px"}
          != herbs_list(formula)
        %td{:width => "150px"}
          %ul
            - formula.formula_patterns.map{|v| v.pattern}.each do |pattern|
              %li!= link(pattern)
        %td
          - formula.formula_patterns.each do |formula_pattern|
            != link(formula_pattern.pattern.pattern_symptoms)
        %td!= link(formula.formula_therapeutic_functions.map{|v| v.therapeutic_function})


  %br/

