= form_for @acu_point_therapeutic_function, :remote=> true do |f|
  - if @acu_point_therapeutic_function.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@acu_point_therapeutic_function.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @acu_point_therapeutic_function.errors.full_messages.each do |msg|
        %li= msg
  = f.hidden_field :acu_point_info_id
  %table
    %tr
      %td.fieldName Function
      %td= tfwac f, :therapeutic_function_name, 'therapeutic_functions'
    %tr
      %td.fieldName Symptoms
      %td= text_area_with_auto_complete f, :symptoms_text, 'symptoms', :rows => 1, :cols => 50, "data-auto-complete-delim"=>','
    %tr
      %td.fieldName Tags
      %td= f.text_field :tf_tags
    %tr
      %td.fieldName Commentary
      %td= f.text_field :commentary
  = f.submit :disable_with=>"Saving..."

