<% title "Pulse Qualities" %>

<table>
  <tr>
    <th>Name</th>
    <th>Commentary</th>
  </tr>
  <% for pulse_quality in @pulse_qualities %>
    <tr>
      <td><%=h pulse_quality.name %></td>
      <td><%=h pulse_quality.commentary %></td>
      <td><%= link_to "Show", pulse_quality %></td>
      <td><%= link_to "Edit", edit_pulse_quality_path(pulse_quality) %></td>
      <td><%= link_to "Destroy", pulse_quality, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Pulse Quality", new_pulse_quality_path %></p>
