- title "Showing #{@formula_category.name}"

- @formula_category.formulas.each do |formula|
  .formula_index
    %h3!= "#{formula.state_board ? "**":""}"
    #{link_to(formula.pinyin, formula)} // #{link_to formula.english, formula}
    - if can?(:update, formula) then
      != "| #{link_to('Edit', edit_formula_path(formula))}"
    %ul
      %li
        = render :partial => "formulas/formula_quick_herb_listing", :locals => { :formula => formula }
      - if formula.citation
        %li #{formula.citation.where}

%p
  = link_to "Edit", edit_formula_category_path(@formula_category)
  |
  = link_to "Destroy", @formula_category, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", formula_categories_path
