<% title "Formula Category" %>

<p>
  <strong>Name:</strong>
  <%=h @formula_category.name %>
</p>
<p>
  <strong>Commentary:</strong>
  <%=h @formula_category.commentary %>
</p>

<p>
  <%= link_to "Edit", edit_formula_category_path(@formula_category) %> |
  <%= link_to "Destroy", @formula_category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", formula_categories_path %>
</p>
