%h1
  Listing authors
%table
  %tr
    %th Name
  - @authors.each do |author|
    %tr
      %td= h author.name
      %td!= link author
      %td!= edit_link author
      %td!= destroy_link author
%br
!= new_link Author

