%p
  %b
    Name:
  = h @author.name
- @author.textbooks.each do |textbook|
  .child
    %p
      %b
        Textbook Title:
      = h textbook.title
    %p
      %b
        Textbook Year:
      = h textbook.year
!= edit_link @author
|
!= index_link 'authors', 'Back'

