= form.label :first_name
%br
= form.text_field :first_name
%br
%br
= form.label :last_name
%br
= form.text_field :last_name
%br
%br
= form.label :login
%br
= form.text_field :login
%br
%br
= form.label :email
%br
= form.text_field :email
%br
%br
= form.label :password, form.object.new_record? ? nil : "Change password"
%br
= form.password_field :password
%br
%br
= form.label :password_confirmation
%br
= form.password_field :password_confirmation
%br
- if can? :manage, User
  %p
    = form.label :roles
    %br
    - for role in User::ROLES
      = check_box_tag "user[roles][]", role, @user.roles.include?(role)
      = h role.humanize
      %br
    = hidden_field_tag "user[roles][]", ""
