<h1>Listing users</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Roles</th>
		<th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td>

		</td>

    <td><%= link_to 'Show', user %></td>
    <td>
			<% if can? :update, user %>
				<%= link_to 'Edit', :controller => 'users', :action => 'manage', :id => user.id %>
			<% end %>
		</td>
    <td>
			<% if can? :destroy, user %>
				<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Formula %>
	<%= link_to 'New user', new_user_path %>
<% end %>