%h1
  Listing users
%table
  %tr
    %th
      First Name
    %th
      Last Name
    %th
      Roles
    %th
  - @users.each do |user|
    %tr
      %td
        = h user.first_name
      %td
        = h user.last_name
      %td
      %td
        = link_to 'Show', user
      %td
        - if can? :update, user
          = link_to 'Edit', :controller => 'users', :action => 'manage', :id => user.id
      %td
        - if can? :destroy, user
          = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
%br
- if can? :create, Formula
  = link_to 'New user', new_user_path
