%h1
  Register
- form_for @user, :url => account_path do |f|
  = f.error_messages
  = negative_captcha(@captcha)
  = f.label :first_name
  %br
  = negative_text_field_tag @captcha, :first_name
  %br
  %br
  = f.label :last_name
  %br
  = negative_text_field_tag @captcha, :last_name
  %br
  %br
  = f.label :login
  %br
  = negative_text_field_tag @captcha, :login
  %br
  %br
  = f.label :email
  %br
  = negative_text_field_tag @captcha, :email
  %br
  %br
  = f.label :password, f.object.new_record? ? nil : "Change password"
  %br
  = negative_text_field_tag @captcha, :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = negative_text_field_tag @captcha, :password_confirmation
  %br
  = f.submit "Register"
