%h3 Name
= f.text_field :name, :autocomplete => "off"

%h3 Signs and Symptoms
= text_area_with_auto_complete f, :pattern_symptoms_text, 'symptoms', :rows => 6, :cols => 60

%h3 Treatment Principles
= text_area_with_auto_complete f, :pattern_treatment_principles_text, 'therapeutic_functions', :rows => 4, :cols => 60

%h3 Source
= render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}

= add_child_link 'Add a Point Prescription', 'point_prescription', f
#point_prescription_children
  - f.fields_for :point_prescriptions do |point_prescription_form|
    = render :partial => 'point_prescription', :locals => { :f => point_prescription_form }

= add_child_link 'Add a Formula', 'formula_pattern', f
#formula_pattern_children
  - f.fields_for :formula_patterns do |formula_pattern_form|
    = render :partial => 'formula_pattern', :locals => { :f => formula_pattern_form }

%h3 Comments
= f.text_area :commentary, :rows => 6, :cols => 60

