%h3 Name
= f.text_field :name, :autocomplete => "off"

%h3 Signs and Symptoms
= text_area_with_auto_complete f, :pattern_symptoms_text, 'symptoms', :rows => 10, :cols => 100
%b Tags
= tag_field(f, :tag_list)
%b Disease
= tag_field(f, :disease_list)
%b Primary Pattern
= tag_field(f, :primary_pattern_list)
%br/
%h3 Treatment Principles
= text_area_with_auto_complete f, :therapeutic_functions_text, 'therapeutic_functions', :rows => 4, :cols => 60

%h3 Source
!= edit_citation f

.child
  != add_child_link 'Add a Point Prescription', 'point_prescription', f
  .point_prescription_children
    = f.fields_for :point_prescriptions do |point_prescription_form|
      = render :partial => 'point_prescription', :locals => { :f => point_prescription_form }
.child
  != add_child_link 'Add a Formula', 'formula', f
  .formula_children
    = f.fields_for :formulas do |formula_form|
      = render :partial => 'formula', :locals => { :f => formula_form }

%h3 Comments
= f.text_area :commentary, :rows => 6, :cols => 60

