%h1 Patterns of Disharmony

%ul
  - @patterns.each do |pattern|
    %li
      (#{short_citation(pattern.citation)})
      = link_to pattern.name, pattern
      - if can? :update, @pattern
        "#{link_to('Edit', edit_pattern_path(pattern))} | #{link_to 'Destroy', pattern, :confirm => 'Are you sure?', :method => :delete}"
%br/

= link_to 'New pattern', new_pattern_path
t

