.child
  %h3 Source
  = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}
  %br/
  %b English:
  = f.text_field(:english, :autocomplete => "off")
  %hr/

  %h2 Symptoms
  = text_area_with_auto_complete f, :acu_point_symptoms_text, "symptoms", :rows => 2, :cols => 50

  %hr/
  %h2 Functions
  = text_area_with_auto_complete f, :acu_point_therapeutic_functions_text, "therapeutic_functions", :rows => 2, :cols => 50

  %b Commentary
  = f.text_area :commentary, :rows => '2', :cols => '40'
  %br/
