.child
  %hr/
  %h2 AcuPoint Info
  %br/
  %h3 Source
  = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}
  %br/
  .field
    %b English:
    = f.text_field(:english, :autocomplete => "off")
  .field
    %h2 Location
    = f.text_area :location, :rows=>2, :cols=>60
  %hr/
  %h3 Functions
  != text_area_with_auto_complete f, :acu_point_therapeutic_functions_text, "therapeutic_functions", :rows => 4, :cols => 50

  %hr/
  %h3 Symptoms
  != text_area_with_auto_complete f, :acu_point_symptoms_text, "symptoms", :rows => 4, :cols => 50
  %hr/

  %h3 Commentary
  = f.text_area :commentary, :rows => '2', :cols => '40'
  %br/
  = remove_child_link 'remove source', f

