= f.error_messages

%h2 Name
%b Channel:
= f.collection_select(:channel_id, Channel.find(:all), :id, :name)
%br/
%b Point Number:
= f.text_field(:ordinal, :autocomplete => "off")
%br/

%b Pinyin:
= f.text_field(:pinyin, :autocomplete => "off")
%br/

%b Chinese
= f.text_field(:chinese, :autocomplete => "off")
%br/

= add_child_link 'Add a source', 'acu_point_info', f
#acu_point_info_children
  - f.fields_for :acu_point_infos do |acu_point_info_form|
    = render :partial => 'acu_point_info', :locals => { :f => acu_point_info_form }

