- title @acu_point.new_record? ? "New AcuPoint" : "Editing #{@acu_point.display_name}"
= form_for @acu_point, :remote=>true do |f|
  = error_messages_for f.object
  %table
    %tr
      %td.fieldName Pinyin:
      %td= f.text_field(:pinyin, :autocomplete => "off")
    %tr
      %td.fieldName Chinese:
      %td= f.text_field(:chinese, :autocomplete => "off")
  %p= f.submit :disable_with => 'Salvation..'

.fieldName Point Categories
%ul#acu_point_categories
  = render :partial=>'acu_point_categories/acu_point_category', :collection=>@acu_point.acu_point_categories
= link_to 'Add point category', new_acu_point_category_path(:acu_point_id=>@acu_point.id), :remote=>true, :id=>"new_category_link"

%br/
%h2 Info Sources

#acu_point_infos
  = render :partial=>'acu_point_infos/acu_point_info', :collection=>@acu_point.acu_point_infos
= link_to "Add an Info Source", new_acu_point_info_path(:acu_point_id=>@acu_point.id), :remote=>true, :id=>"new_source_link"

= ajax_association_link("Show point prescriptions", @acu_point, :point_prescriptions)
%div{:id=>@acu_point.element_id(:point_prescriptions)}

= ajax_association_link("Show point combinations", @acu_point, :point_combinations)
%div{:id=>@acu_point.element_id(:point_combinations)}

= link_to "Add a point combination", |
    new_point_combination_path( |
        :acu_point_id=>@acu_point.id, |
        :container => @acu_point.element_id(:point_combinations), |
        :ajax_function => 'append'), |
    :remote=>true, :id=>"new_combo_link"

#{link_to 'Show', @acu_point, :remote=>true} | #{link_to 'Back', acu_points_path, :remote=>true} | #{link_to 'Edit next', edit_acu_point_path(AcuPoint.order(:id).where("id > #{@acu_point.id}").limit(1).first), :id=>"next_acu_point_link", :remote=>true}

