= f.error_messages

%h2 Name
%b Channel:
= f.collection_select(:channel_id, Channel.find(:all), :id, :name)
%br/
%b Point Number:
= f.text_field(:ordinal, :autocomplete => "off")
%br/

%b Pinyin:
= f.text_field(:pinyin, :autocomplete => "off")
%br/

%b Chinese
= f.text_field(:chinese, :autocomplete => "off")
%br/

%b Tags
= tag_field(f, :tag_list)
%br/

%b Point Categories
= text_area_with_auto_complete f, :acu_point_categories_text, 'categories', :rows => 4, :cols => 100
%br/

= add_child_link 'Add a source', 'acu_point_info', f
#acu_point_info_children
  = f.fields_for :acu_point_infos do |acu_point_info_form|
    = render :partial => 'acu_point_info', :locals => { :f => acu_point_info_form }

= add_child_link 'Add a Point Prescription', 'point_prescription', f
#point_prescription_children
  = f.fields_for :point_prescriptions do |point_prescription_form|
    = render :partial => 'point_prescription', :locals => {:f => point_prescription_form}
    
