= form_for(@acu_point) do |f|
  = error_messages_for f.object
  %table
    %tr
      %td.fieldName Pinyin:
      %td= f.text_field(:pinyin, :autocomplete => "off")
    %tr
      %td.fieldName Chinese:
      %td= f.text_field(:chinese, :autocomplete => "off")
    %tr
      %td.fieldName Point Categories:
      %td!= text_area_with_auto_complete f, :acu_point_categories_text, 'categories', :rows => 4, :cols => 50
  %p= f.submit

