= form_for(@acu_point) do |f|
  = error_messages_for f.object
  %table
    %tr
      %td.fieldName Pinyin:
      %td= f.text_field(:pinyin, :autocomplete => "off")
    %tr
      %td.fieldName Chinese:
      %td= f.text_field(:chinese, :autocomplete => "off")
  %p= f.submit


%ul#acu_point_categories
  = render :partial=>'acu_point_categories/acu_point_category', :collection=>@acu_point.acu_point_categories
= link_to 'Add point category', new_acu_point_category_path(:acu_point_id=>@acu_point.id), :remote=>true

