= show_box_for(a=AcuPoint.new, 'Filter Results', 'Hide Filters')
= detail_box_for a do



%table
  %tr
    %th Channel
    %th Number
    %th Pinyin
  - @acu_points.each do |acu_point|
    %tr
      %td=h acu_point.channel.name
      %td=h acu_point.ordinal
      %td=h acu_point.pinyin
      %td!= show_link acu_point
      %td!= edit_link acu_point
      %td!= destroy_link acu_point
!= new_link AcuPoint

