.child
  .field
    = f.label :name, "Name"
    = f.text_field :name
  - if f.object.new_record?
    %table
      %tr
        %td
          .field
            = f.label :acu_points_text, "Acu Points"
            %br/
            = f.text_area :acu_points_text, :rows => 3, :cols => 50
        %td
          .field
            = f.label :symptoms_text, "Symptoms"
            != text_area_with_auto_complete f, :symptoms_text, 'symptoms', :rows => 3, :cols => 50
      %tr
        %td{:colspan=>"2"}
          .field
            = f.label :source_text_citation
            = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :source_text_citation}  
  - else
    = show_box_for f, :link_name => "Edit Details"
    = detail_box_for f do
      %b= hide_box_for f
      %table
        %tr
          %td
            .field
              = f.label :acu_points_text, "Acu Points"
              %br/
              = f.text_area :acu_points_text, :rows => 3, :cols => 50
          %td
            .field
              = f.label :symptoms_text, "Symptoms"
              != text_area_with_auto_complete f, :symptoms_text, 'symptoms', :rows => 3, :cols => 50
        %tr
          %td{:colspan=>"2"}
            .field
              = f.label :source_text_citation
              = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :source_text_citation}  
  = remove_child_link 'remove', f

