- title "#{@acu_point.display_name} / #{@acu_point.chinese}"
.fieldName Point Categories
%ul#acu_point_categories
  = render :partial=>'acu_point_categories/acu_point_category', :collection=>@acu_point.acu_point_categories

= render :partial => "acu_point_infos/acu_point_info", :collection=>@acu_point.acu_point_infos

= ajax_association_link("Show point prescriptions", @acu_point, :point_prescriptions)
%div{:id=>@acu_point.element_id(:point_prescriptions)}

= ajax_association_link("Show point combinations", @acu_point, :point_combinations)
%div{:id=>@acu_point.element_id(:point_combinations)}


#{link_to 'Edit', edit_acu_point_path(@acu_point), :remote=>true} | #{link_to 'Back', acu_points_path, :remote=>true} | #{link_to 'Edit next', edit_acu_point_path(AcuPoint.order(:id).where("id > #{@acu_point.id}").limit(1).first), :remote=>true}

