- unless acu_point.point_prescription_acu_points.empty?
  .fieldName= "#{link acu_point} is found in these point prescriptions:"
  %ul
    - acu_point.point_prescription_acu_points.each do |ppap|
      %li
        - pp = ppap.point_prescription
        - pattern = pp.pattern
        - if pattern
          != link_to "#{pattern.name} #{show_citation(pp.citation, :short)}", pattern
        - else
          = "#{pp.commentary} #{show_citation(pp.citation, :short)}"
        = show_box_for ppap, "Show"
        - unless ppap.commentary.empty?
          :tcmtextile
            #{ppap.commentary}
        = detail_box_for ppap do
          %br/
          %b Symptoms
          != link pattern.pattern_symptoms
          - if pattern.formulas.size > 0
            %b= "Formulas"
            != link(pattern.formulas)
            %br/
          %ul
            - pp.pp_acu_points.where(:reason => "Primary").order(:acu_point_id).each do |ap|
              %li
                != link_to ap.acu_point_abbrev, ap.acu_point
                - unless ap.commentary.nil?
                  :tcmtextile
                    #{ap.commentary}
            - reasons = pp.pp_acu_points.where("reason <> 'Primary'").map{|p| p.reason}.uniq
            - reasons.each do |reason|
              %li
                = reason
                %ul
                  - pp.pp_acu_points.where(:reason => reason).order(:acu_point_id).each do |ap|
                    %li
                      != link_to ap.acu_point_abbrev, ap.acu_point
                      - unless ap.commentary.nil?
                        :tcmtextile
                          #{ap.commentary}

