%h1 Editing acu_point
= form_for(@acu_point) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit 'Update'

= render :partial => "show_point_combinations"
= link_to "Add a point combination", new_point_combination_path, :remote=>true

#{link_to 'Show', @acu_point} | #{link_to 'Back', acu_points_path}

