- title @acu_point.display_name
%h2 #{@acu_point.pinyin} // #{@acu_point.chinese}

- @acu_point.acu_point_infos.each do |acu_point_info|
  %h2 Source: #{acu_point_info.citation.textbook_title}
  English Translation: #{acu_point_info.english}
  %h2 Signs and Symptoms
  %ul
    %li= acu_point_info.acu_point_symptoms.collect{|a| a.symptom_name}.join(", ")

  %h2 Therapeutic Functions
  %ul
    %li= acu_point_info.acu_point_therapeutic_functions.collect{|a| a.therapeutic_function_name}.join(", ")
  %h2 Commentary
  :textile
    #{acu_point_info.commentary}
  %hr/

#{link_to 'Edit', edit_acu_point_path(@acu_point)} | #{link_to 'Back', acu_points_path}