- title "#{@acu_point.abbrev} #{@acu_point.pinyin}"
%h2 #{@acu_point.pinyin} // #{@acu_point.chinese}
%br/
%h3 Point Categories:
%ul
  - @acu_point.acu_point_categories.each do |cat|
    %li= "#{cat.category_name} (#{cat.commentary})"

- @acu_point.acu_point_infos.each do |acu_point_info|
  %h2 Source: #{acu_point_info.citation.textbook_title}
  English Translation: #{acu_point_info.english}
  %h2 Location
  :tcmtextile
    #{acu_point_info.location}

  %h2 Signs and Symptoms
  %ul
    %li= acu_point_info.acu_point_symptoms.collect{|a| a.symptom_name}.join(", ")

  %h2 Therapeutic Functions
  %ul
    - acu_point_info.acu_point_therapeutic_functions.each do |actf|
      %li
        %h3= link actf.therapeutic_function
        - unless actf.commentary.empty?
          = show_box_for actf, "Show details"
          = detail_box_for actf do
            = hide_box_for actf, "Hide"
            :tcmtextile
              #{actf.commentary}
  %h2 Commentary
  :tcmtextile
    #{acu_point_info.commentary}
  %hr/

%ul
  - @acu_point.point_prescription_acu_points.each do |ppap|
    %li
      - pp = ppap.point_prescription
      - pattern = pp.pattern
      - if pattern
        != link_to "#{pattern.name} #{show_citation(pp.citation, :short)}", pattern
      - else
        = "#{pp.commentary} #{show_citation(pp.citation, :short)}"
      = show_box_for ppap, "Show"
      - unless ppap.commentary.empty?
        :tcmtextile
          #{ppap.commentary}
      = detail_box_for ppap do
        %b= hide_box_for ppap
        %br/
        %b Symptoms
        != link pattern.pattern_symptoms
        - if pattern.formulas.size > 0
          %b= "Formulas"
          != link(pattern.formulas)
          %br/
        %ul
          - pp.pp_acu_points.where(:reason => "Primary").order(:acu_point_id).each do |ap|
            %li
              != link_to ap.acu_point_abbrev, ap.acu_point
              - unless ap.commentary.nil?
                :tcmtextile
                  #{ap.commentary}
          - reasons = pp.pp_acu_points.where("reason <> 'Primary'").map{|p| p.reason}.uniq
          - reasons.each do |reason|
            %li
              = reason
              %ul
                - pp.pp_acu_points.where(:reason => reason).order(:acu_point_id).each do |ap|
                  %li
                    != link_to ap.acu_point_abbrev, ap.acu_point
                    - unless ap.commentary.nil?
                      :tcmtextile
                        #{ap.commentary}

#{link_to 'Edit', edit_acu_point_path(@acu_point)} | #{link_to 'Back', acu_points_path} | #{link_to 'Edit next', edit_acu_point_path(AcuPoint.order(:id).where("id > #{@acu_point.id}").limit(1).first)}

