- title "#{@acu_point.abbrev} #{@acu_point.pinyin}"
%h2 #{@acu_point.pinyin} // #{@acu_point.chinese}
%br/
%h3 Point Categories:
%ul
  - @acu_point.acu_point_categories.each do |cat|
    %li= "#{cat.category_name} (#{cat.commentary})"

= render :partial => "acu_point_infos/acu_point_info", :collection=>@acu_point.acu_point_infos

= render :partial => "show_point_combinations"

#{link_to 'Edit', edit_acu_point_path(@acu_point)} | #{link_to 'Back', acu_points_path} | #{link_to 'Edit next', edit_acu_point_path(AcuPoint.order(:id).where("id > #{@acu_point.id}").limit(1).first)}

