$el = $('#acu_point_category_#{@acu_point_category.html_id}');
$el.hide('slide');
$el.html(#{raw render_js(:partial=>'edit_acu_point_category')});
setUpDocument($el);
$el.show('slide');
$el.find('input:visible:first').focus();

$('#cs_link_#{@acu_point_category.html_id}').click( function(){
$sel = $('#cs_#{@acu_point_category.html_id} :selected');
a = '<li class="channel" id="channel_new">'+$sel.text()+'<a href="#" tabindex="0" class="remove-channel">x</a><input id="acu_point_category_channels_attributes_new_id" name="acu_point_category[channels_attributes][new][id]" type="hidden" value="new" /></li>';
$('#channels_acu_point_category_#{@acu_point_category.html_id}').append(a.replace(/new/g, $sel.val()));
setUpLinks($('#channel_'+$sel.val()));

return false;
});

function setUpLinks($el) {

$el.find('a.remove-channel').click(function (){
$(this).parent().remove();
return false;
});

}

setUpLinks($el);

