.child
  = f.hidden_field :id
  = link_to "Edit", edit_pattern_path(f.object.pattern)
  %p
    %b Signs and Symptoms
    = f.fields_for "pattern_attributes", f.object.pattern ||= Pattern.new do |pf|
      != pf.text_field_with_auto_complete :name, {},  { :url => patterns_path(:format => :js), :method => :get, :skip_style => true, :with => "'search='+element.value" }
      = text_area_with_auto_complete pf, :pattern_symptoms_text, 'symptoms', :rows => 6, :cols => 60
  %p
    %b Tags
    = tag_field(f, :tag_list)
    %b Disease
    = tag_field(f, :disease_list)


  %p
    = f.label :commentary
    %br
    = f.text_area :commentary, :rows => 2, :cols => 40
  %p
    = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}


  %p
    = f.hidden_field :_destroy, :class => 'delete'
    = remove_child_link 'remove', f

