<%= f.error_messages %>

<h2>Name</h2>
<table>
  <tr>
    <td>
			<%= f.label :pinyin %>: <%= f.text_field :pinyin %>		
		</td>
		<td>
			<%= f.label :english %>: <%= f.text_field :english %>			
		</td>
  </tr>
</table>

<h2>Category</h2>
<%= f.text_field_with_auto_complete :formula_category_name, {}, { :url => formula_categories_path(:format => :js), :method => :get, :skip_style => true, :with => "'search='+element.value" } %>

<hr />

<h2>Ingredients</h2> <%= add_child_link 'Add an Herb', 'formula_herb', f %>
<div id='formula_herb_children'>
	<!--table>
		<tr>
			<td>Pinyin:</td>
			<td>Role:</td>
			<td>Dose:</td>
			<td>Commentary:</td>
			<td></td>
		</tr>	

	</table-->		
	<% f.fields_for :formula_herbs do |formula_herb_form| %>
			<%= render :partial => 'formula_herb', :locals => { :f => formula_herb_form } %>
		<% end %>
</div>

<hr />
<h2>Therapeutic Functions</h2><%= add_child_link 'Add a Function', 'formula_therapeutic_function', f %>
<div id='formula_therapeutic_function_children'>
  <% f.fields_for :formula_therapeutic_functions do |formula_therapeutic_function_form| %>
    <%= render :partial => 'formula_therapeutic_function', :locals => { :f => formula_therapeutic_function_form } %>
  <% end %>
</div>
<hr />
<h2>Diagnosis</h2><%= add_child_link 'Add a Pattern of Disharmony', 'formula_pattern', f %>
<div id='formula_pattern_children'>
  <% f.fields_for :formula_patterns do |formula_pattern_form| %>
    <%= render :partial => 'formula_pattern', :locals => { :f => formula_pattern_form } %>
  <% end %>
</div>

<hr />

<h2>Signs and Symptoms</h2><%= add_child_link 'Add a Symptom', 'formula_symptom', f %>
<div id='formula_symptom_children'>
  <% f.fields_for :formula_symptoms do |formula_symptom_form| %>
    <%= render :partial => 'formula_symptom', :locals => { :f => formula_symptom_form } %>
  <% end %>
</div>
<h3>Pulse</h3><%= add_child_link 'Add a Pulse', 'formula_pulse_quality', f %>
<div id='formula_pulse_quality_children'>
  <% f.fields_for :formula_pulse_qualities do |formula_pulse_quality_form| %>
    <%= render :partial => 'formula_pulse_quality', :locals => { :f => formula_pulse_quality_form } %>
  <% end %>
</div>

<h3>Tongue</h3><%= add_child_link 'Add a Tongue', 'formula_tongue_quality', f %>

<div id='formula_tongue_quality_children'>
  <% f.fields_for :formula_tongue_qualities do |formula_tongue_quality_form| %>
    <%= render :partial => 'formula_tongue_quality', :locals => { :f => formula_tongue_quality_form } %>
  <% end %>
</div>

<hr />
<h2>Cautions and Contraindications</h2><%= add_child_link 'Add a FormulaContraindication', 'formula_contraindication', f %>
<div id='formula_contraindication_children'>
  <% f.fields_for :formula_contraindications do |formula_contraindication_form| %>
    <%= render :partial => 'formula_contraindication', :locals => { :f => formula_contraindication_form } %>
  <% end %>
</div>

<hr />
<h2>Dui Yao</h2>


<hr />
<h2>Preparation</h2>
  <%= f.text_area :preparation, :rows => 2, :cols => 40 %>

<hr />
<h2>Commentary</h2>
  <%= f.text_area :commentary %>

