.child
  %p
    Both formulas:
  %br
  = f.text_area :commentary, :rows => 3, :cols => 60
  %p
    %b
      This formula:
    %br
    = f.text_area :formula1_commentary, :rows => 3, :cols => 60
  %p
    Vs:
    != tfwac f, :formula2_pinyin, 'formulas'
    = f.text_area :formula2_commentary, :rows => 3, :cols => 60
  %b
  != edit_citation f
  = remove_child_link 'remove', f

