= f.error_messages
%h2
  Name
%table
  %tr
    %td
      = f.label :pinyin
      \:
      = f.text_field :pinyin, :autocomplete => "off"
    %td
      = f.label :english
      \:
      = f.text_field :english, :autocomplete => "off"
    %td
      = f.label :chinese
      \:
      = f.text_field :chinese, :autocomplete => "off"
    %td
      #{f.label :state_board}:#{f.check_box :state_board}
%b Tags
= tag_field(f, :tag_list)
%br/
= f.label :master_formula_name, "Variant of:"
!= tfwac f, :master_formula_name, 'formulas'
%hr
.child
  %h2
    Ingredients
  != add_child_link 'Add an Herb', 'formula_herb', f
  %ul{:class=>'formula_herb_children', :id=>'formula_herb_children'}
    = f.fields_for :formula_herbs do |formula_herb_form|
      = render :partial => 'formula_herb', :locals => { :f => formula_herb_form }

  = sortable_element "formula_herb_children", :url => sort_formulas_path
%hr
%h2 Source
%table
  %tr
    %td
      = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}
    %td
      = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :source_text_citation}

%hr
%h2 Therapeutic Functions
= text_area_with_auto_complete f, :formula_therapeutic_functions_text, "therapeutic_functions", :rows => 2, :cols => 50
.child
  %hr
  %h2
    Diagnosis
  != add_child_link 'Add a Pattern of Disharmony', 'pattern', f
  .pattern_children
    = f.fields_for :patterns do |pattern_form|
      = render :partial => 'pattern', :locals => { :f => pattern_form }
.child
  %hr
  %h2
    Cautions and Contraindications
  != add_child_link 'Add a FormulaContraindication', 'formula_contraindication', f
  .formula_contraindication_children
    = f.fields_for :formula_contraindications do |formula_contraindication_form|
      = render :partial => 'formula_contraindication', :locals => { :f => formula_contraindication_form }

%hr
%h2
  Preparation
= f.text_area :preparation, :rows => 2, :cols => 40
%hr
%h2
  Commentary
= f.text_area :commentary
%hr/
.child
  %h2 Comparisons
  != add_child_link 'Add a Comparison', 'formula_comparison', f
  .formula_comparison_children
    = f.fields_for :formula_comparisons do |formula_comparison_form|
      = render :partial => 'formula_comparison', :locals => { :f => formula_comparison_form }

%hr/
.child
  %h2 Dui Yao
  != add_child_link 'Add a Dui Yao', 'dui_yao', f
  .dui_yao_children
    = f.fields_for :dui_yaos do |dui_yao_form|
      = render :partial => 'dui_yao', :locals => { :f => dui_yao_form }

