= content_tag_for :li, f.object do
  %table.child
    %tr
      %td
        Preparation / Pinyin:
        %br/
        != "#{f.text_field :preparation_name, :size => 3} #{tfwac f, :herb_pinyin, 'herbs', :size=>15"
      %td Role #{f.collection_select :formula_role_id, FormulaRole.all, :id, :pinyin}
      %td
        Dose #{f.text_field :dose, :size => "10"}#{remove_child_link 'x', f}

      %td
        %b Commentary
        %br/
        = f.text_area :commentary, :rows => "3", :cols=> 45

