%h1
  Listing formulas
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    != index_link 'formulas', tag.name, {:tag=>tag.name}, :class=>css_class
- @formulas_by_cat.each do |cat, formulas|
  %h2= cat
  %table
    %tr
      %th
        Pinyin
      %th
        Page
      %th
        Tags
    - formulas.each do |formula|
      %tr
        %td= h formula.pinyin
        %td= h formula.citation.where if formula.citation
        %td= formula.tag_list
        %td!= show_link formula
        - if can? :update, formula
          %td
            != edit_link formula
        - if can? :destroy, formula
          %td
            != destroy_link formula
%br/
- if can? :create, Formula
  != new_link Formula

