%h1
  Listing formulas
- @formulas.each_category do |cat, formulas|
  %h2= cat
  %table
    %tr
      %th
        Pinyin
      %th
        Page
      %th
        Tags
    - formulas.each do |formula|
      %tr
        %td= h formula.pinyin
        %td= h formula.citation.where if formula.citation
        %td= formula.tag_list
        %td!= show_link formula
        - if can? :update, formula
          %td
            != edit_link formula
        - if can? :destroy, formula
          %td
            != destroy_link formula
%br/
%h2 Categories
%ul
  - @categories.each do |category|
    %li!= index_link 'formulas', category.to_s, :category=>category.to_s

- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
  != index_link 'formulas', tag.name, {:tag=>tag.name}, :class=>css_class


- if can? :create, Formula
  != new_link Formula

