<% formula_herbs.each do |formula_herb| %>
	<tr>
		<td>
			<%=formula_herb.formula_role.pinyin %>
		</td>
		
		<td><%= link_to formula_herb.herb.pinyin, formula_herb.herb %></td>
		<td><%= formula_herb.herb.herb_category_name %></td>
		<td><%= formula_herb.dose %></td>
		<td><%= RedCloth.new(formula_herb.commentary).to_html %></td>
	</tr>
<% end %>

