%h1
  Listing formulas
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    = link_to tag.name, "/formulas/t/#{tag.name}", :class => css_class

%table
  %tr
    %th
      Pinyin
    %th
      Page
    %th
      Tags
  - @formulas.each do |formula|
    %tr
      %td= h formula.pinyin
      %td= h formula.citation.where if formula.citation
      %td= formula.tag_list
      %td= link_to 'Show', formula
      %td
        - if can? :update, formula
          = link_to 'Edit', edit_formula_path(formula)
      %td
        - if can? :destroy, formula
          = link_to 'Destroy', formula, :confirm => 'Are you sure?', :method => :delete
%br/
- if can? :create, Formula
  = link_to 'New formula', new_formula_path

