<h1>Listing formulas</h1>

<table>
  <tr>
    <th>Pinyin</th>
    <th>English</th>
		<th>Page</th>		
  </tr>

<% @formulas.each do |formula| %>
  <tr>
    <td><%=h formula.pinyin %></td>
    <td><%=h formula.english %></td>
		<td><%=h formula.bensky_page %></td>
		
    <td><%= link_to 'Show', formula %></td>
    <td>
			<% if can? :update, formula %>
				<%= link_to 'Edit', edit_formula_path(formula) %>
			<% end %>
		</td>
    <td>
			<% if can? :destroy, formula %>
				<%= link_to 'Destroy', formula, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Formula %>
	<%= link_to 'New formula', new_formula_path %>
<% end %>