$('##{@container}').html(#{raw render_js('index')});
= growl(@container, @formulas.count)
setUpDocument($('##{@container}'));
- unless flash[:notice].empty?
  = growl("Success", flash[:notice])
  - flash.discard

