- title "#{@formula.formula_category.name}: #{@formula.pinyin}/ #{@formula.chinese} / #{@formula.english}"

%h2 Signs and Symptoms
%ul
  %li= @formula.formula_symptoms.collect{|a| a.symptom_name}.join(", ")
  %li= "Tongue #{@formula.formula_tongue_qualities.collect{|a| a.tongue_quality_name}.join(', ')}"
  %li= "Pulse: #{@formula.formula_pulse_qualities.collect{|a| a.pulse_quality_name}.join(', ')}"

%hr/

%h2 Diagnosis
%ul
  - @formula.formula_patterns.each do |formula_pattern|
    %li= formula_pattern.pattern_name
    - unless formula_pattern.commentary.blank?
      %ul
        %li= RedCloth.new(formula_pattern.commentary).to_html
%hr/

%h2 Herbs
%table
  - FormulaRole.all.each do |role|
    = render :partial => "show_formula_herbs", :locals => { :formula_herbs => @formula.formula_herbs.select{|a| a.formula_role.pinyin == role.pinyin} }
%p
  %b Preparation:
  = h @formula.preparation

%h2 Cautions and Contraindications
- @formula.formula_contraindications.each do |formula_contraindication|
  .child= formula_contraindication.contraindication_name

%h2 Therapeutic Functions
- @formula.formula_therapeutic_functions.each do |formula_therapeutic_function|
  .child= formula_therapeutic_function.therapeutic_function_name

%p
  %b Commentary:
  = RedCloth.new(@formula.commentary).to_html

- if @formula.formula_dui_yaos.size > 0
  %h2 Dui Yao's

#dui_yaos
  - render :partial => "formula_dui_yaos/formula_dui_yao", :collection => @formula.formula_dui_yaos

%h2 Comparisons
- @formula.all_comparisons.each do |formula_comparison|
  %h3= "vs #{link_to formula_comparison.other_formula(@formula).pinyin, formula_comparison.other_formula(@formula)}" 
  %table.formula_comparison
    %tr
      %td Both Formulas
      %td= RedCloth.new(formula_comparison.commentary).to_html
    %tr
      %td= formula_comparison.formula1.pinyin
      %td= RedCloth.new(formula_comparison.formula1_commentary).to_html
    %tr
      %td= formula_comparison.formula2.pinyin
      %td= RedCloth.new(formula_comparison.formula2_commentary).to_html

- if can? :update, @formula
  - link_to 'Edit', edit_formula_path(@formula)
- link_to 'Back', formulas_path


		