- title "#{@formula.formula_category.name}: #{@formula.pinyin}/ #{@formula.chinese} / #{@formula.english}#{@formula.state_board ? " (CALE)" : ""}"

- unless @formula.citation.nil?
  Reference: #{render :partial => 'citations/show', :locals => {:citation => @formula.citation}}
- unless @formula.source_text_citation.nil?
  Source Text: #{render :partial => 'citations/show', :locals => {:citation => @formula.source_text_citation}}

%hr/

- @formula.formula_patterns.each do |formula_pattern|
  - p = formula_pattern.pattern
  %h2 Diagnosis: #{link_to p.name, p}

  %h4 Signs and Symptoms
  = "Keys: #{p.key_symptoms.map{|y| y.symptom_name}.join(", ")}" unless p.key_symptoms.size==0

  %ul
    - p.pattern_symptoms.each do |s|
      %li
        - if s.maybe
          (possibly)
        - if s.key_symptom
          %i= s.symptom_name
        - else
          = s.symptom_name
        - unless s.commentary.blank?
          %ul
            %li
              :textile
                #{s.commentary}

  - unless formula_pattern.commentary.blank?
    %ul
      %li
        :textile
          #{formula_pattern.commentary}
%hr/

%h2 Herbs
%table.formula_herbs
  - Formula::ROLES.each do |role|
    = render :partial => "show_formula_herbs", :locals => { :formula_herbs => @formula.formula_herbs.select{|a| a.formula_role.pinyin == role} }

%p
  %b Preparation:
  = h @formula.preparation

%h2 Cautions and Contraindications
- @formula.formula_contraindications.each do |formula_contraindication|
  .child= formula_contraindication.contraindication_name

%h2 Therapeutic Functions
- @formula.formula_therapeutic_functions.each do |formula_therapeutic_function|
  .child= formula_therapeutic_function.therapeutic_function_name

%p
  %b Commentary:
  = RedCloth.new(@formula.commentary).to_html unless @formula.commentary.nil?

- if @formula.formula_dui_yaos.size > 0
  %h2 Dui Yao's

#dui_yaos
  - render :partial => "formula_dui_yaos/formula_dui_yao", :collection => @formula.formula_dui_yaos

%h2 Comparisons
- @formula.all_comparisons.each do |formula_comparison|
  %h3= "vs #{link_to formula_comparison.other_formula(@formula).pinyin, formula_comparison.other_formula(@formula)}"
  %table.formula_comparison
    %tr
      %td Both Formulas
      %td= textile(formula_comparison.commentary)
    %tr
      %td= formula_comparison.formula1.pinyin
      %td= textile(formula_comparison.formula1_commentary)
    %tr
      %td= formula_comparison.formula2.pinyin
      %td= textile(formula_comparison.formula2_commentary)

- if can? :update, @formula
  = link_to 'Edit', edit_formula_path(@formula)
- link_to 'Back', formulas_path


