<% title "Tongue Qualities" %>

<table>
  <tr>
    <th>Name</th>
    <th>Commentary</th>
  </tr>
  <% for tongue_quality in @tongue_qualities %>
    <tr>
      <td><%=h tongue_quality.name %></td>
      <td><%=h tongue_quality.commentary %></td>
      <td><%= link_to "Show", tongue_quality %></td>
      <td><%= link_to "Edit", edit_tongue_quality_path(tongue_quality) %></td>
      <td><%= link_to "Destroy", tongue_quality, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Tongue Quality", new_tongue_quality_path %></p>
