<% title "Tongue Quality" %>

<p>
  <strong>Name:</strong>
  <%=h @tongue_quality.name %>
</p>
<p>
  <strong>Commentary:</strong>
  <%=h @tongue_quality.commentary %>
</p>

<p>
  <%= link_to "Edit", edit_tongue_quality_path(@tongue_quality) %> |
  <%= link_to "Destroy", @tongue_quality, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tongue_qualities_path %>
</p>
