- form_for(@point_prescription) do |f|
  = f.error_messages

  .field
    = f.label :name
    %br
    = f.text_field :name, :autocomplete => "off"
  .field
    = f.label :commentary
    %br
    = f.text_area :commentary
  .field
    = f.label :citation
    = render :partial => 'citations/edit_citation', :locals => {:f => f, :field => :citation}
  .field
    = f.label :pp_acu_points_text, "Point Prescription Acu Points"
    %br/
    = f.text_area :pp_acu_points_text
  .actions
    = f.submit
