%div{:id=>@point_prescription.element_id}
  - if (pattern = @point_prescription.pattern)
    != show_link pattern, "#{pattern.name} #{show_citation(@point_prescription.citation, :short)}"
  - else
    = "#{@point_prescription.commentary} #{show_citation(@point_prescription.citation, :short)}"
  = show_box_for @point_prescription, "Show"
  - unless (ppap = @point_prescription.pp_acu_points.for_point(@acu_point)).try(:commentary).empty?
    :tcmtextile
      #{ppap.commentary}
  = detail_box_for @point_prescription do
    %br/
    %b Symptoms
    != link pattern.pattern_symptoms
    - if pattern.formulas.size > 0
      %b= "Formulas"
      != link(pattern.formulas)
      %br/
    %ul
      - @point_prescription.pp_acu_points.primary.each do |ap|
        %li
          != link ap.acu_point
          - unless ap.commentary.nil?
            :tcmtextile
              #{ap.commentary}
      - @point_prescription.pp_acu_points.points_per_reason do |reason, pp_acu_points|
        - next if reason=="Primary"
        %li
          = reason
          %ul
            - pp_acu_points.each do |ppap|
              %li
                != link ppap.acu_point
                - unless ppap.commentary.nil?
                  :tcmtextile
                    #{ppap.commentary}

