<% title "Contraindications" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for contraindication in @contraindications %>
    <tr>
      <td><%=h contraindication.name %></td>
      <td><%= link_to "Show", contraindication %></td>
      <td><%= link_to "Edit", edit_contraindication_path(contraindication) %></td>
      <td><%= link_to "Destroy", contraindication, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contraindication", new_contraindication_path %></p>
