- title "Editing #{@herb.pinyin}"
= form_for @herb, :remote => true do |f|
  = error_messages_for f.object

  %h2 Source
  %table
    %tr
      %td!= edit_citation f
      %td!= edit_citation f, :source_text_citation, "Source Text"

  %p
    = f.label :pinyin
    = f.text_field :pinyin
  %p
    = f.label :english
    = f.text_field :english
  %p
    = f.label :common_name
    = f.text_field :common_name
  %p
    = f.label :latin
    = f.text_field :latin
  %p
    = f.label :commentary
    = f.text_area :commentary
  %p
    = f.label :contraindications
    = f.text_area :contraindications
  %hr/


  %h2 Therapeutic Functions
  = text_area_with_auto_complete f, :herb_therapeutic_functions_text, "therapeutic_functions", :rows => 2, :cols => 50

  .child
    != add_child_link 'Add a Comparison', 'herb_comparison', f
    .herb_comparison_children
      - f.fields_for :herb_comparisons do |herb_comparison_form|
        = render :partial => 'herb_comparison', :locals => { :f => herb_comparison_form }

  %hr/
  .child
    != add_child_link 'Add a Dui Yao', 'dui_yao', f
    .dui_yao_children
      = f.fields_for :dui_yaos do |dui_yao_form|
        = render :partial => 'dui_yao', :locals => { :f => dui_yao_form }
  %p= f.submit :disable_with => 'Salvation...'
= link_to 'Show', @herb, :remote => true
|
= link_to 'Back', herbs_path, :remote => true

