- title "Listing Herbs"
%br
%table
  %tr
    %th
      Pinyin
    %th
      English
    %th
      Latin
  - @herbs.each do |herb|
    %tr
      %td= h herb.pinyin
      %td= h herb.english
      %td= h herb.latin
      %td= link_to 'Show', herb
      - if can? :update, herb
        %td= link_to 'Edit', edit_herb_path(herb), :remote => true
      - if can? :destroy, herb
        %td= link_to 'Destroy', herb, "data-confirm" => 'Are you sure?', :remote => true

= link_to 'New herb', new_herb_path, :remote => true

