- title "Listing Herbs"
%br
%table
  %tr
    %th
      Pinyin
    %th
      English
    %th
      Latin
  - @herbs.each do |herb|
    %tr
      %td= h herb.pinyin
      %td= h herb.english
      %td= h herb.latin
      %td!= show_link herb
      - if can? :update, herb
        %td!= edit_link herb
      - if can? :destroy, herb
        %td!= destroy_link herb

!= new_link Herb

