- title "#{@herb.pinyin} << #{@herb.herb_category_name}"
%h1
  #{@herb.pinyin} #{@herb.chinese}
%br/
%table
  %tr
    %td
      %h3
        #{@herb.english}
        %br/
        #{@herb.latin}
        %br/
        #{@herb.common_name}
    %td
      = @herb.flavor_list
      %br/
      = @herb.temperature
      %br/
      = @herb.channel_list
    
%br/
- unless @herb.citation.nil?
  Reference: #{render :partial => 'citations/show', :locals => {:citation => @herb.citation}}
- unless @herb.source_text_citation.nil?
  Source Text: #{render :partial => 'citations/show', :locals => {:citation => @herb.source_text_citation}}
%br/
%h3
  Therapeutic Functions
%ul
  - @herb.herb_therapeutic_functions.each do |htf|
    %li
      %b= h htf.therapeutic_function_name
      - unless htf.commentary.empty?
        = show_box_for htf, :link_name => "Details"
        = detail_box_for htf do
          :tcmtextile
            #{htf.commentary}
          = hide_box_for htf

- unless @herb.commentary.empty?
  %h3 Commentary:
  :tcmtextile
    #{@herb.commentary}

- unless @herb.contraindications.empty?
  %h3 Contraindications:
  :tcmtextile
    #{@herb.contraindications}

- if @herb.all_comparisons.size > 0
  %h3 Comparisons

- @herb.all_comparisons.each do |herb_comparison|
  - if @herb.id == herb_comparison.herb1.id
    - other_herb = herb_comparison.herb2
  - else
    - other_herb = @herb
  %h3
    Vs #{link_to other_herb.display_name, other_herb}
  %table.herb_comparison
    %tr
      %td Both Herbs
      %td= herb_comparison.commentary
    %tr
      %td= herb_comparison.herb1.display_name
      %td= herb_comparison.herb1_commentary
    %tr
      %td= herb_comparison.herb2.display_name
      %td= herb_comparison.herb2_commentary
- if @herb.dui_yaos.size > 0
  %h2 Dui Yaos
  %br/
  - @herb.all_dui_yaos.each do |dui_yao|
    %h3 With #{link_to dui_yao.other_herb(@herb).display_name, dui_yao.other_herb(@herb)}:
    %br/
    :tcmtextile
      #{dui_yao.commentary}
  
- if @herb.formula_herbs.size > 0
  %h3 Formulas:
  %ul
    - @herb.formula_herbs.each do |fh|
      %li
        = link_to fh.formula.pinyin, fh.formula
        - if fh.formula.chief_herbs
          (#{fh.formula_role.pinyin})
        - unless fh.commentary.empty?
          :tcmtextile
            #{fh.commentary}

#{link_to 'Edit', edit_herb_path(@herb)} | #{link_to 'Back to Herbs', herbs_path} | #{link_to 'New Herb', new_herb_path}

