- title "#{@herb.pinyin} << #{@herb.herb_category_name}"
%h1
  = "#{@herb.pinyin}"
- if @herb.herb_category
  %p
    %b Category: #{@herb.herb_category.name}

- unless @herb.citation.nil?
  Reference: #{render :partial => 'citations/show', :locals => {:citation => @herb.citation}}
- unless @herb.source_text_citation.nil?
  Source Text: #{render :partial => 'citations/show', :locals => {:citation => @herb.source_text_citation}}

%p
  %b
    Pinyin:
  = h @herb.pinyin
%p
  %b
    Chinese:
  = h @herb.chinese
%p
  %b
    English:
  = h @herb.english
%p
  %b
    Latin:
  = h @herb.latin
%p
  %b
    Common Name:
  = h @herb.common_name
%h3
  Channels
%ul
  - @herb.herb_channels.each do |herb_channel|
    %li= h herb_channel.channel_name
%h3
  Flavor and Temperature
%ul
  - @herb.herb_flavors.each do |herb_flavor|
    %li= h herb_flavor.flavor_name

%h3
  Therapeutic Functions
%ul
  - @herb.herb_therapeutic_functions.each do |herb_therapeutic_function|
    %li= h herb_therapeutic_function.therapeutic_function_name

%p
  %b
    Commentary:
  = h @herb.commentary
%p
  %b
    Contraindications:
  = h @herb.contraindications
%h2 Comparisons
- @herb.all_comparisons.each do |herb_comparison|
  - if @herb.id == herb_comparison.herb1.id
    - other_herb = herb_comparison.herb2
  - else
    - other_herb = @herb
  %h3
    Vs #{link_to other_herb.display_name, other_herb}
  %table.herb_comparison
    %tr
      %td Both Herbs
      %td= herb_comparison.commentary
    %tr
      %td= herb_comparison.herb1.display_name
      %td= herb_comparison.herb1_commentary
    %tr
      %td= herb_comparison.herb2.display_name
      %td= herb_comparison.herb2_commentary

%b Formulas:
!= @herb.formulas.map{|f| link_to f.pinyin, f}.join(", ")
#{link_to 'Edit', edit_herb_path(@herb)} | #{link_to 'Back to Herbs', herbs_path} | #{link_to 'New Herb', new_herb_path}


