<% title "#{@herb.pinyin} << #{@herb.herb_category_name}" %>

<h1><%= "#{@herb.pinyin}" %></h1>

<p>
  <b>Category:</b>
  <%=h @herb.herb_category.name if @herb.herb_category %>
</p>
Page: <%= @herb.bensky_page %>
<p>
  <b>Pinyin:</b>
  <%=h @herb.pinyin %>
</p>

<p>
  <b>English:</b>
  <%=h @herb.english %>
</p>

<p>
  <b>Latin:</b>
  <%=h @herb.latin %>
</p>

<h3>Channels</h3>
<ul>
	<% @herb.herb_channels.each do |herb_channel| %>
		<li>
			<%= h herb_channel.channel_name %>&nbsp;
		</li>
	<% end %>
</ul>


<h3>Flavor and Temperature</h3>
<ul>
	<% @herb.herb_flavors.each do |herb_flavor| %>
		<li><%= h herb_flavor.flavor_name %></li>
	<% end %>
</ul>

<h3>Therapeutic Functions</h3>
<ul>
	<% @herb.herb_therapeutic_functions.each do |herb_therapeutic_function| %>
		<li>
			<%= h herb_therapeutic_function.therapeutic_function_name %><br />
		</li>
	<% end %>
</ul>

<p>
  <b>Commentary:</b>
  <%=h @herb.commentary %>
</p>

<p>
  <b>Contraindications:</b>
  <%=h @herb.contraindications %>
</p>


<%= link_to 'Edit', edit_herb_path(@herb) %> |
<%= link_to 'Back to Herbs', herbs_path %> |
<%= link_to 'New Herb', new_herb_path %>
