%h3= h therapeutic_function.name
= link_to "Edit", edit_therapeutic_function_path(therapeutic_function)
|
= link_to "Destroy", therapeutic_function, :confirm => 'Are you sure?', :method => :delete

%br/
%ul
  - if therapeutic_function.herbs.size > 0
    %li
      %b Herbs:
      != therapeutic_function.herbs.map{|h| link_to h.pinyin, h}.join(", ")
  - if therapeutic_function.formulas.size > 0
    %li
      %b Formulas:
      != therapeutic_function.formulas.map{|f| link_to f.pinyin, f}.join(", ")

  - if therapeutic_function.acu_points.size > 0
    %li
      %b AcuPoints:
      != therapeutic_function.acu_points.map{|a| link_to a.display_name, a}.join(", ")


