%h3= h therapeutic_function.name
!= edit_link therapeutic_function
|
!= destroy_link therapeutic_function

%br/
%ul
  - if therapeutic_function.herbs.size > 0
    %li
      %b Herbs:
      != link(therapeutic_function.herbs)
  - if therapeutic_function.formulas.size > 0
    %li
      %b Formulas:
      != link therapeutic_function.formulas

  - if therapeutic_function.acu_points.size > 0
    %li
      %b AcuPoints:
      != link therapeutic_function.acu_points

