- @formula_comparisons.each do |comparison|
  :tcmtextile
    h3. #{raw link(comparison.formula1)} vs #{raw link(comparison.formula2)}

    - Both Formulas := #{comparison.commentary}
    - #{raw link(comparison.formula1)} := #{comparison.formula1_commentary}
    - #{raw link(comparison.formula2)} := #{comparison.formula2_commentary}


  %hr/

