#menuContainer
  #menu
    %ul.menu
      %li
        != menu_link("Home", "/", true)
      %li
        != menu_link('Channels', channels_path, true)
        %ul
          - Channel.all.each do |channel|
            %li
              != menu_link(channel.name, channel)
      %li
        %span
          = form_tag(searches_path, :id=>"search_form", :method=>'get', :remote=>true) do
            = text_field_tag(:term)+submit_tag("Search", :disable_with=>'Searching...')

