#menuContainer
  #menu
    %ul.menu
      %li
        %span
          - if user_signed_in?
            #{link_to('Logout', destroy_user_session_path)}
          - else
            = link_to('Log in', new_user_session_path)

      %li
        != menu_link("Home", "/", true)
      %li
        != menu_link('Channels', channels_path, true)
        %ul
          - Channel.all.each do |channel|
            %li
              != menu_link(channel.name, channel)
      %li
        %span
          = form_tag(searches_path, :id=>"search_form", :method=>'get', :remote=>true) do
            = text_field_tag(:term)+submit_tag("Search", :disable_with=>'Searching...')

