!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = csrf_meta_tag
    %title= h(yield(:title) || "TCM Website")
    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js", "rails.js"
    = javascript_include_tag  'jquery-ui-1.8.2.custom.min.js'
    = javascript_include_tag 'menu.js'
    = javascript_include_tag 'jquery.scrollTo-min.js'
    = javascript_include_tag 'jquery.growl.js'
    = javascript_include_tag 'loadbehind.js'
    = javascript_include_tag 'shortKeys.js' if current_action(:edit)
    = javascript_include_tag 'nested_attributes.js', 'application.js'

    = stylesheet_link_tag 'styleMain',
        'ui-lightness/jquery-ui-1.8.2.custom.css',
        'nested_attributes.css', 'menu.css'

  %body
    #container
      #containerPad
        #header
          .headLeft
          .headMiddle
            %h1 Turning Seasons
            %h2 Your TCM Community, online
            %br/
            - if logged_in?
              Welcome #{h current_user.login}! Not you? #{link_to "Log out", '/logout'}
            - else
              #{link_to "Sign up", '/signup'} or #{link_to "log in", '/login'}
            = render :partial=>'layouts/menu'
          .headRight

        #content
          .top
            .topLeft
            .topMiddle
              - if show_title?
                %h1= h yield(:title)
            .topRight
          .middle
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
            #main_container= yield

            .bottom
              .bottomLeft
              .bottomRight
        #contentEnd
        #footerTop
          :tcmtextile
            Copyright &copy; #{h Date.today.year} Tyler Gannon, all rights reserved
            Design by #{link_to 'Matthew "Agent Spork" McGee', 'http://doomrealm.mancubus.net'}
            Courtesy #{link_to 'Open Web Design', 'http://www.openwebdesign.org'}, Thanks to #{link_to 'Personal Bankruptcy', 'http://blog.legalhelpers.com/'}

        #footerBottom
          .left
          .right
            <div id="copyright">Copyright &copy; 2010 <a href="http://apycom.com/">Apycom jQuery Menus</a></div>

