<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "TCM Website") %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'styleMain' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'nested_attributes.js' %>
</head>

<body>

<div id="container">
<div id="containerPad">
<!--div id="topLinks">
	<a href="index.html">Link 1</a> | 
	<a href="index.html">Link 2</a> | 
	<a href="index.html">Link 3</a> | 
	<a href="index.html">Link 4</a>
</div-->

<div id="header">
	<div class="headLeft"></div>
	<div class="headMiddle">
	<h1>Turning Seasons</h1>
	<h2>The Medicine is You.</h2>
	</div>
	
	<div class="headRight"></div>
	<div id="navigation">
		<div class="naviLeft"></div>
		<div class="link"><%= link_to 'Herb Categories',herb_categories_path %></div>
		<div class="link"><%= link_to 'Herbs', herbs_path %></div>
		<div class="link"><%= link_to 'Formulas', formulas_path %></div>
		
	</div>	
</div>

<div id="sidebar">
	<div class="top">Herb Of The Day</div>
	<div class="middle">
		<div class="center">
			<a href="index.html"><img src="/images/bupleurum.jpg" alt="random image" /></a> <br />
			<span class="subtitle">Chai Hu - Bupleurum</span>
		</div>
	</div>
	<div class="bottom"></div>
	<!--
	<h1>Links</h1>
	<div class="divider"></div>
	
	<div class="link"><a href="#heh">Link 1</a></div>
	<div class="link"><a href="#heh">Link 2</a></div>
	<div class="link"><a href="#heh">Link 3</a></div>
	<div class="link"><a href="#heh">Link 4</a></div>
	-->
	&nbsp;
	
	<div class="top">4. M&ecirc;ng</div>
	<div class="middle">
	<p>
		<b>Youthful Folly</b>
		<img src="/images/hexagram_4.gif" border="0" align="left" /> 
              
		above K&ecirc;n    Keeping Still, Mountain<BR>           below     K'an   The Abysmal, Water
	</p>
	<p>
	<b>The Judgement</b>

Youthful Folly has success.<br />
It is not I who seek the young fool;<br />
The young fool seeks me.<br />
At the first oracle I inform him.<br />
If he asks two or three times, it is importunity.<br />
If he importunes, I give him no information.<br />
Perseverance furthers.<br />
	</p>
	
	</div>
	<div class="bottom"></div>

</div>

	

<div id="content">
	<div class="top">
		<div class="topLeft"></div>
		<div class="topMiddle">
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>		
		</div>
		<div class="topRight"></div>
	</div>
	<div class="middle">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

		<%= yield %>		
		<div class="commentBox">Posted on <i>Wednesday, January 3, 2007</i> by [your name goes here] | <a href="index.html">Comments (5)</a></div>
	</div>
	<div class="bottom"><div class="bottomLeft"></div><div class="bottomRight"></div></div>
</div>
<div id="contentEnd"></div>
<div id="footerTop">
	Copyright &copy; <%=h Date.today.year %> Tyler Gannon, all rights reserved<br />
	Design by <a href="http://doomrealm.mancubus.net">Matthew "Agent Spork" McGee</a><br />  Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a>, Thanks to <a href="http://blog.legalhelpers.com/" target="_blank">Personal Bankruptcy</a>
</div>

</div>
</div>
<div id="footerBottom"><div class="left"></div><div class="right"></div></div>

</body>
</html>
