= form_for @point_combination, :remote=>true do |f|
  = f.hidden_field :acu_point_id, :value=>@acu_point_id
  %table
    %tr
      %td.fieldName
        Acu Points
        = f.text_area :acu_points_text, :rows => 1, :cols => 50, "data-auto-complete-delim"=>','
      %td.fieldName
        Symptoms
        != text_area_with_auto_complete f, :symptoms_text, 'symptoms', :rows => 1, :cols => 50, "data-auto-complete-delim"=>','
    %tr
      %td!= edit_citation f
      %td!= edit_citation f, :source_text_citation, "Source:"
    %tr
      %td= f.submit :disable_with => "Please wait..."
      %td= show_box_for @point_combination, 'Show commentary', 'Hide commentary'
  = detail_box_for @point_combination do
    %table
      %tr
        %td.fieldName Commentary
        %td= f.text_area :commentary, :rows=>1, :cols=>50

