%div{:id=>@point_combination.element_id}
  %ul
    %li
      with #{raw link(@point_combination.acu_points.reject{|t| t.id==@acu_point.try(:id)})}
      %br/
      for #{raw link(@point_combination.symptoms)}
      = show_box_for @point_combination, '(Show commentary)', '(Hide commentary)' unless @point_combination.commentary.empty?
      %br/
      - unless @point_combination.commentary.empty?
        = detail_box_for @point_combination do
          :tcmtextile
            #{@point_combination.commentary}
          %br/
      from #{@point_combination.source_text_citation.textbook_title} (#{@point_combination.citation.textbook_title}, #{@point_combination.citation.where})
      != edit_link @point_combination, 'Edit', :acu_point_id=>@acu_point.try(:id)

